<section>
  <div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">
      <form action="/auth/login" method="post">
        <div class="row column log-in-form">
          <h4 class="text-center" style="color:#5A9AA8"> Welcome Back!</h4>
          <label>Username
            <input type="text" name="user[username]">
          </label>
          <label>Password
            <input type="password" name="user[password]">
          </label>
          <p><input type="submit" value="Log In" class="button expanded"/></p>
        </div>
      </form>
    </section>
