<% if @dishes.any? %>
    <div class="row small-up-2 large-up-4">
      <div class="column">
        <% @dishes.keys.each do |key| %>
            <h3><%= get_category_name(key) %></h3>
            <% @dishes[key].each do |dish| %>
                <div id="<%= dish.id %>">
                  <h5><%= [dish.name, ' - ', dish.price, 'kr'].join %></h5>
                  <% if current_user && !current_user.try(:admin) %>
                      <form action="/menu/add_to_basket" method="post">
                        <input type="hidden" name="basket_item[id]" , value="<%= dish.id %>"/>
                        <label for="">Quantity</label>
                        <input type="number" min="0"  name="basket_item[qty]"/>
                        <input type="submit" value="Add to basket" class="button expanded"/>
                      </form>
                      </div>
                  <% end %>
            <% end %>
        <% end %>
      </div>
      <div class="column">

        <p></p>

      </div>
      <div class="column">
        <% if current_user && !current_user.try(:admin) %>
            <a href="/check_out" class="button expanded">View Basket</a>
        <% elsif current_user.try(:admin) %>
            <a href="/menu/add_dish" class="button expanded">Add Dish</a>
      </div>

    </div>

    <% else %>
        <p>Please log in to enjoy ordering!</p>
    <% end %>
<% else %>
    <h2>You dont have any dishes yet</h2>
<% end %>

